@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply bg-gray-100 font-inter;
    }

    .gallery-heading {
        @apply text-4xl lg:text-7xl font-bold text-gray-950 text-center mb-6;
        animation: fade-in-heading 1s ease-in-out forwards;
    }

    .gallery-description {
        @apply text-lg font-normal text-gray-600 max-w-[600px] mx-auto text-center;
        animation: fade-in-description 1s ease-in-out forwards;
    }

    .gallery-container {
        @apply container mx-auto bg-white rounded-xl;
        animation: fade-in-gallery 1s ease-in-out forwards;

    }

    .gallery-aria {
        @apply flex justify-between px-5 lg:px-10 py-4 text-lg font-medium;
    }

    .gallery-content {
        @apply grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5 p-5 lg:p-10;
    }

    .animation {
        @apply duration-1000 transition-all ease-in-out;
    }

    .animation-cursor {
        @apply scale-50 cursor-pointer;
    }

    .drag-content-default {
        @apply animation bg-white shadow-lg rounded-lg border border-gray-300 relative cursor-move;
    }

    .drag-content {
        @apply col-span-1 md:col-span-2 lg:col-span-2 xl:col-span-2 row-span-1 md:row-span-2 xl:row-span-2;
    }

    .drag-content-size {
        @apply md:max-h-[290px] lg:max-h-[230px] 2xl:max-h-[290px];
    }

    .drag-start {
        @apply animation animation-cursor w-[60%] h-[60%];
    }

    .drag-over {
        @apply animation animation-cursor w-[80%] h-[80%];
    }

    .drag-drop {
        @apply animation animation-cursor w-[100%] h-[100%];
    }

    .checkbox {
        @apply absolute top-5 left-5 z-50 cursor-pointer w-5 h-5 invisible group-hover:visible duration-200 transition-all;
    }

    .card-bg-hover {
        @apply bg-gray-600 opacity-0 group-hover:opacity-50 absolute inset-0 transition-all duration-500 rounded-lg z-10;
    }

    .card-active {
        @apply bg-teal-100 opacity-50 visible;
    }

    .card-images {
        @apply w-full h-full rounded-lg object-center;
    }

    .img-upload-card {
        @apply flex justify-center items-center w-full h-full min-h-[250px] sm:min-h-[200px] md:max-h-[290px] lg:max-h-[230px] 2xl:max-h-[290px] px-4 py-6 tracking-wide cursor-pointer hover:bg-gray-200 bg-white shadow-lg rounded-lg border-[4px] border-dotted border-gray-300;
    }

    .img-upload-label {
        @apply flex flex-col justify-center items-center gap-y-2;
    }

    @keyframes fade-in-heading {
        0% {
            transform: translatex(-80%);
            rotate: -8deg;
        }

        100% {
            transform: translatex(0);
            rotate: 0deg;
        }
    }

    @keyframes fade-in-description {
        0% {
            transform: translatex(+80%);
            rotate: 8deg;
        }

        100% {
            transform: translatex(0);
            rotate: 0deg;
        }
    }

    @keyframes fade-in-gallery {
        0% {
            transform: translatey(+30%);
        }

        100% {
            transform: translatey(0);
        }
    }



}